.formHeader {
    font-family: Roboto;
    font-size: 19.4px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.2px;
    color: #626b79;
    text-align: left;
    margin: 0 0 4.1px 0;
}