.wrapper {
  background-color: #fafbfc;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  font-family: Roboto;
}

.image {
  background-image: url(../assets/bench.jpg);
  background-size: cover;
}

.formWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  display: grid;
  /*row-gap: 1.5px;*/
  width: 300px;
}

.link {
  font-size: 10px;
  letter-spacing: 1px;
  padding-top: 5px;
  color: #498afa;
}

.success {
  margin-top: 5px;
  font-size: 12px;
  color: darkgreen;
  letter-spacing: 1px;
}

.fail {
  margin-top: 5px;
  font-size: 12px;
  color: red;
  letter-spacing: 1px;
}